<ion-header>

  <ion-navbar>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
	<ion-list>
    <ion-card *ngFor="let pedido of pedidos">
    		<img src= "../../../assets/imgs/PedidoPendente.png"/>
        <div class="card-title"><font color= "DarkSlateGray"> Pedido {{pedido.codigo}} </font></div>
    		<div class="card-subtitle">
          <p><font color= "DarkSlateGray">Em {{pedido.created_at | date:'dd/MM/yyyy'}} às {{pedido.created_at | date:'H:mm'}} </font>
          <p><font color= "DarkSlateGray">R$: {{pedido.valor}} </font>
				<p><font color= "DarkSlateGray">
          <div *ngIf="pedido.status == 'FI'">Status: Finalizado</div>
          <div *ngIf="pedido.status == 'AP'">Status: Aguardando Pagamento</div>
          <div *ngIf="pedido.status == 'CA'">Status: Cancelado</div>
          <div *ngIf="pedido.status == 'EA'">Status: Em andamento</div>
        </font>
				<p><button ion-button (click)="goToDetails(pedido)" color="dark" clear><u>Detalhes</u></button>
			</div>
		</ion-card>
	</ion-list>

</ion-content>
