<ion-header>

  <ion-navbar>
    <ion-title>Carrinho</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card *ngFor='let produto of carrinho'>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <img src="{{produto.imagens[0].imagem}}" class = "produtoimg"/>
        </ion-item>
        <ion-item class = "small">
          {{produto.nome}} | {{produto.marca.nome}}
            <br> ID : {{produto.codigo}}
              <button ion-button color="danger" (click)="remove(produto)" clear class = "TrashButton" item-end>
                <ion-icon name="trash"></ion-icon>
              </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <button *ngIf='carrinho && carrinho.length > 0' (click)="LetsGoNovoCompra()" ion-button full class="mg">Finalizar Compra</button>

</ion-content>
